h1 {
    color: red;
    background-color: rgb(8, 6, 173);
}
h1 {
    text-align: center;
    text-indent: 30px;
}
body	{
    border: 5px	solid	red;
}
h1 {
    padding: 10px;
}
strong {
    color:rgb(8, 6, 173)
}
